<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro Sucesso</title>
</head>
<body>
    <h2>Material cadastrado com sucesso!</h2>
    <button onclick="window.location.href='/menu'">Voltar ao Menu</button>
</body>
</html>
