<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
    <h2>Menu</h2>
    <ul>
        <li><a href="/exibir-estoque">Exibir Estoque</a></li>
        <li><a href="/cadastrar-material">Cadastrar - Material</a></li>
        <li><a href="/exibir-doacao">Doação</a></li>
        <li><a href="/saida-material">Saída - Material</a></li>
        <li><a href="/relatorio">Relatório</a></li> 
        <li><a href="/alterar-senha">Alterar Senha</a></li>
    </ul>
    <form action="/logout" method="GET">
        <button type="submit">Sair</button>
    </form>
</body>
</html>
