<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios</title>
    
</head>
<body>
    <h2>Relatórios</h2>
    <ul>
        <li><a href="/relatorio-entrada">Relatório de Todas as Entradas</a></li>
        <li><a href="/relatorio-todas-saidas">Relatório de Todas as Saídas</a></li>
    </ul>
    <br>
    <button onclick="window.location.href='/menu'">Voltar ao Menu</button>
</body>
</html>